<a href="https://colab.research.google.com/github/roshan786khan/python2021/blob/main/experiment-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
p=float(input("Enter principle"))
r=float(input("Enter rate"))
t=float(input("Enter time"))
si=p*t*r/100
a=p*((1+r/100)**t)
ci=a-p
print("simple interest is:",si,"compound interest is:",ci)

Enter principle2
Enter rate3
Enter time4
simple interest is: 0.24 compound interest is: 0.2510176200000003

In [11]:
a=input("Enter first name:")
b=input("Enter mid name:")
c=input("Enter last name:")
d=a+" "+b+" "+c
print(d)

Enter first name:ram
Enter mid name:shanker
Enter last name:pradhan
ram shanker pradhan

In [12]:
a=[[1,3,2,4],[5,6,7,8],[9,10,11,12]]
print(a)

[[1, 3, 2, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [15]:
num_int = 123
num_str = "456"
num_float= 7.02
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))
num_sum1=num_int+num_float
print("Sum of num_int and num_float:",num_sum1)

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>
Sum of num_int and num_float: 130.02

In [22]:
import math
x1=int(input("Enter x1:"))
x2=int(input("Enter x2:"))
y1=int(input("Enter y1:"))
y2=int(input("Enter y2:"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("The distance betweeen 2 points is:",d)

Enter x1:5
Enter x2:45
Enter y1:12
Enter y2:45
The distance betweeen 2 points is: 51.85556864985669